.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    gap: 20px; /* espacio entre imágenes */
}

.gallery-item img {
    width: 100%;
    height: 50%;
    display: block;
}
.gallery-item figure {
    position: relative; 
    overflow: hidden; 
}
.like-button{
    position: absolute;
    z-index: 10;
    top: 50%;        
    left: 43%;
    background-color: #42ff1d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 0; /* Oculta el botón */
    transition: opacity 0.3s ease-in-out; /* Animación suave */
}
.comment-button {
    display: block;
    margin: 10px auto 0 auto;
    background-color: #42ff1d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
}
.gallery-item figure:hover .like-button {
    opacity: 1; 
}
.image-overlay{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 235, 70, 0.842);  
    z-index: 5; 
    opacity: 0; 
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.gallery-item figure:hover .image-overlay {
    opacity: 1;
}
ul.pagination {
    display: flex;
    width: 100%;
    justify-content: center; 
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
ul.pagination li {
    display: inline-block; 
    margin: 0 5px;
}
ul.pagination li a, 
ul.pagination li span {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    display: block;
}
ul.pagination li.active span {
    background-color:#42ff1d;
    color:white;
    border-color:#42ff1d;
}
.btn-lime{
    background-color:#42ff1d;
    color: #fff;
    border-color: #42ff1d;
}
.btn-lime:hover {
    color: #fff;
    background-color: #236616;
    border-color: #2a8018;
}
.form-horizontal{
    padding: 20px;
    overflow: hidden;
    margin-bottom: 50px;
}
.form-horizontal div{
    margin-bottom: 20px;
}
#gallery_form_Send{
    background-color:#42ff1d;
    color: #fff;
    border-color: #42ff1d;
}
#gallery_form_Send:hover {
    color: #fff;
    background-color: #236616;
    border-color: #2a8018;
}
.titulo-admin{
    font-family: 'Poppins', sans-serif; 
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: #333;
    margin-top: 40px;
    margin-bottom: 30px;
}